{{ define "wholepage" }}

<main class="nlp-not-paned">

<div class="nlp-not-paned__content">

{{ .Content }}

{{ range .Site.Taxonomies.categories }}
    {{ if .Pages }}
        <h2>{{ .Page.Title }}</h2>
        <div class="card card--no-padding">
            {{ range $item := .Pages }}
                <a class="nlp-list__item" href="{{ $item.Permalink }}">
                    {{ .Page.Title }}
                </a>
            {{ end }}
        </div>
    {{ end }}
{{ end }}

</div>

</main>

{{ end }}
