<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    {{- block "wholepage" . }}
    <body>
        {{- partial "header.html" . -}}
        <div class="nlp-scrim" onclick="CloseDrawer()">
            <div class="nlp-scrim__padder"></div>
        </div>
        <button class="nlp-drawer-button" onclick="OpenDrawer()" >
            <i class="material-icons">menu</i>
        </button>
        <main class="nlp-paned">
            <div class="nlp-paned__left">
                {{- partial "sidebar.html" . -}}
            </div>
            <div class="nlp-paned__right">
                <div class="nlp-content">
                    {{- block "main" . }}{{- end }}
                </div>
                {{- block "toc" . }}
                {{- end }}
            </div>
        </main>
        {{- partial "footer.html" . -}}
    </body>
    {{- end }}
</html>
