{{ define "main" }}
<h1>{{ .Title }} <span class="nlp-readingtime">({{ .ReadingTime }} Minute Read)</span></h1>
{{ .Content }}

{{ if or (.NextInSection) (.PrevInSection) }}

    <div class="nlp-nav-footer">
        {{ if .NextInSection }}
        <a class="card" href="{{ .NextInSection.Permalink }}">
            {{ T "previous" }}
            {{ .NextInSection.Title | truncate 50 "..."}}
        </a>
        {{ else }}
        <div class="card card--waster"></div>
        {{ end }}
        {{ if .PrevInSection }}
        <a class="card" href="{{ .PrevInSection.Permalink }}">
            {{ T "next" }}
            {{ .PrevInSection.Title | truncate 50 "..." }}
        </a>
        {{ else }}
        <div class="card card--waster"></div>
        {{ end }}
    </div>

{{ end }}

{{ end }}

{{ define "toc" }}
<div class="nlp-desktop-only nlp-content-secondary">
    <div class="nlp-offset">
    <a href="https://invent.kde.org/cblack/konweb/-/blob/main/{{ .File.Path }}">Edit on Invent</a>
    <hr class="nlp-hairline">
    </div>
    {{ .TableOfContents }}
</div>
{{ end }}