.nlp-button {
    width: max-content;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%), #FCFCFC;
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), inset 0px 2px 0px #FFFFFF;
    border-radius: 4px;
    padding: 5pt 10pt;

    * {
        color: #31363B;
        font-size: 14pt;
        line-height: 16,9px;
    }

    &:hover {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%), #FCFCFC;
        border: 1px solid #91CFFF;
    }
    &:active {
        background: linear-gradient(0deg, rgba(252, 252, 252, 0.7), rgba(252, 252, 252, 0.7)), linear-gradient(360deg, #91CFFF 0%, #C2E4FE 100%);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), inset 0px -2px 0px #F2FBFF;
    }
}