:root {
    --chrome: #EFF0F1;
    --on-chrome: #000000;

    --view: #ffffff;
    --on-view: #000000;
    --on-view-faint: rgba(0, 0, 0, 0.7);

    --card-bg: #ffffff;
    --on-card: #000000;

    --accent: #3daee9;

    --rim: rgba(0,0,0,0.1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --chrome: #2e3134;
        --on-chrome: #ffffff;
    
        --view: #1a1b1e;
        --on-view: #ffffff;
        --on-view-faint: rgba(255, 255, 255, 0.7);
    
        --card-bg: #393c3f;
        --on-card: #ffffff;

        --accent: #3daee9;
    
        --rim: rgba(255,255,255,0.1);
    }
}

a {
    color: var(--on-view);
}

* {
    color: var(--on-view);
}