$button-el: 1;
$scrim-el: 2;
$content-el: 3;

.nlp-paned {
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
}

.nlp-nav-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
    .card {
        margin-top: 20px;
        flex: 1 0 40%;
    }
    .card--waster {
        display: none;
    }
}

@media screen and (max-width: 799px) {
    .nlp-nav-footer {
        flex-direction: column;
    }
    .nlp-desktop-only {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    .nlp-nav-footer {
        .card {
            max-width: 40%;
        }
        .card--waster {
            visibility: hidden;
            display: initial;
        }
    }
}

.nlp-content-secondary {
    margin-top: 34px + 60px;
    margin-left: 64px;
    position: sticky;
    top: 32px;
    align-self: flex-start;
    .nlp-offset {
        padding-left: 10pt + 10pt + 8pt;
    }
}

.nlp-scrim {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

    opacity: 0;
    pointer-events: none;

    transition: opacity 150ms cubic-bezier(0.8, 0, 0.2, 1);

    z-index: $scrim-el;

    &--open {
        opacity: 1;
        pointer-events: all;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }
}

.nlp-scrim__padder {
    min-height: 100vh;
}

.nlp-drawer-button {
    position: fixed;
    bottom: 16px;
    left: calc(50% - 24px);
    right: calc(50% - 24px);
    height: 48px;
    width: 48px;

    border-radius: 4px;
    background-color: var(--card-bg);
    border: 1px solid var(--rim);

    display: grid;
    place-items: center;

    z-index: $button-el;

    &:active {
        filter: brightness(90%);
    }

    @include medium-float;
}

.footer-line {
    background-color: var(--chrome);
    border-top: 1px solid var(--rim);
    border-bottom: 0;
    margin-left: 10vw;
    margin-right: 10vw;
}

.nlp-footer {
    background-color: var(--chrome);
    padding-left: 10vw;
}

.nlp-paned__left {
    background-color: var(--chrome);

    padding: 32px 16px 16px;
}
.nlp-paned__right {
    background-color: var(--view);
    padding: 32px 16px;
}

.nlp-list__item {
    display: block;
    padding: 16px 14px;
}

blockquote {
    border-left: 4px solid var(--rim);
    padding-left: 16px;
    margin: 20px 0px;
    &, p {
        color: var(--on-view-faint);
    }
}

@media screen and (max-width: 799px) {
    .nlp-paned {
        padding-bottom: 10vh;
        background-color: var(--view);
    }
    .nlp-paned__left {
        position: fixed;
        transform: translateY(100%);

        transition: all 400ms cubic-bezier(0.8, 0, 0.2, 1);
        opacity: 0;

        z-index: $content-el;

        &--reparented {
            position: initial;
        }
        
        &--open {
            border-radius: 24px 24px 0px 0px;
            opacity: 1;
            transition: all 400ms cubic-bezier(0.8, 0, 0.2, 1);
            transform: none;
        }
    }
    .nlp-paned__right {
        flex: 0 1 100%;
    }
}

@media screen and (min-width: 800px) {
    .nlp-drawer-button, .nlp-scrim {
        display: none;
    }
    .nlp-content {
        max-width: 40vw;
    }
    .nlp-paned__left {
        flex: 0 1 300px;
        min-height: 100%;
    }
    .nlp-paned__right {
        flex: 1 1 300px;
        min-height: 100%;
        padding-left: 32px;
        display: flex;
        flex-direction: row;
    }
}

.nlp-not-paned {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;

    &__content {
        max-width: 800px;
        display: flex;
        flex-direction: column;
    }

    h1 {
        width: initial;
    }
}

.nlp-header--center {
    text-align: center;
}
