.card {
    background: var(--card-bg);
    border: 1px solid var(--rim);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px;
    display: block;

    @include medium-float;

    &--wide {
        width: 100%;
    }

    &--no-padding {
        padding: 0;
    }
}

img {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    max-width: 80vw;
}

.nlp-logo {
    margin: 0;
    line-height: 0;

    &__item {
        margin: 30px 0px;
        width: 128px;
        height: 128px;
        border: 0;
    }

    & + h1 {
        margin-top: 0;
    }
}
