.nlp-hairline {
    background-color: var(--chrome);
    border-top: 1px solid var(--rim);
    border-bottom: 0;
    margin: 15pt 0pt;
}
#TableOfContents {
    ul {
        padding: 10pt 6pt;
    }
    li {
        font-size: 16pt;
        margin: 0;
        padding: 10pt 0pt;
        list-style-type: none;

        a {
            padding-left: 6pt;
            box-sizing: border-box;

            border-left: 2px solid transparent;
            transition: border-left 300ms cubic-bezier(0.8, 0, 0.2, 1);

            &.nlp-active {
                border-left: 2px solid var(--accent);
            }
        }
    }
}