@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto&family=Roboto+Mono:wght@500&display=swap');

* {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
}

p {
    font-family: 'Roboto';
}

code {
    font-family: 'Roboto Mono';
    font-weight: 500;
    background-color: var(--chrome);
    padding: 4pt;
    border-radius: 3pt;
}

h1, h2, h3, h4, img, p {
    margin: 30px 0px;
}

h1 {
    font-size: 25pt;
    line-height: 34px;
    font-weight: 800;

    width: 100%;
}

h2 {
    font-size: 22pt;
    line-height: 28px;
    font-weight: bold;
}

h3 {
    font-size: 19pt;
    line-height: 28px;
    font-weight: bold;
}

h4 {
    font-size: 17pt;
    line-height: 20pt;
    font-weight: 500;
}

p {
    font-size: 14pt;
    line-height: 24pt;
    margin: 4pt 0pt;
}

.nlp-readingtime {
    font-size: 16pt;
    opacity: 0.4;
}

ul, ol {
    margin-left: 20pt;
}

li {
    font-size: 16pt;
    margin: 10pt 0pt;
    list-style-type: circle;
    ol & {
        list-style-type: upper-roman;
    }
}

em {
    font-style: italic;
}